@font-face {
  font-family: "NotoSans";
  src: url("./noto-sans-kr-v13-korean-100.woff2") format("woff2"),
    url("./noto-sans-kr-v13-korean-100.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url("./noto-sans-kr-v13-korean-300.woff2") format("woff2"),
    url("./noto-sans-kr-v13-korean-300.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url("./noto-sans-kr-v13-korean-500.woff2") format("woff2"),
    url("./noto-sans-kr-v13-korean-500.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url("./noto-sans-kr-v13-korean-700.woff2") format("woff2"),
    url("./noto-sans-kr-v13-korean-700.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url("./noto-sans-kr-v13-korean-900.woff2") format("woff2"),
    url("./noto-sans-kr-v13-korean-900.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url("./noto-sans-kr-v13-korean-regular.woff2") format("woff2"),
    url("./noto-sans-kr-v13-korean-regular.woff2") format("woff");
  font-weight: regular;
  font-display: swap;
}
