.contents-section {
  display: flex;
  flex-direction: column;
  nav {
    position: sticky;
    top: 0;
    background-color: #353942;
    display: flex;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    flex: 1;
    .edit-button,
    .refresh-button {
      border-radius: 0;
      background-color: #e7604a;
      padding: 0.8em;
      font-size: 0.8em;
    }
    .edit-button {
      border-right: 1px solid #ff6951;
    }
    .nav-txt {
      padding-left: 1em;
      flex: 1;
      font-size: 1.5em;
      font-weight: 100;
      color: white;
      padding-top: 0.5em;
    }
    .logo-wrap {
      background-color: #29c7ca;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 400px;
      gap: 0.6em;
      > h1 {
        font-size: 1.2em;
        font-weight: 500;
      }
      color: white;
      .nav-logo {
        width: 2em;
        height: 2em;
        fill: white;
      }
    }
  }
  main {
    display: flex;
    flex-direction: row;
    height: 90vh;
    .subject-list {
      overflow-y: auto;
      width: 400px;
      font-size: 0.9em;
      color: $bgColor;
      background-color: #353942;
    }
    > .contents {
      flex: 1;
    }
  }
}

.subject-wrap {
  border-radius: $borderRadius;
  border: 2px solid #474b58;
  margin: 0.5em;
  background-color: #26282f;
  transition: border-color 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    border: 2px solid white;
  }
  > .subject-header {
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 1em;
    border-bottom: 2px solid #474b58;
    > .subject-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    > .shortcut {
      border-radius: 100px;
      background-color: #c0c2c3;
      display: flex;
      padding: 0.5em;
      align-items: center;
      justify-content: center;
      &.red {
        background-color: #e7604a;
      }

      > .shortcut-icon {
        width: 1.5em;
        height: 1.5em;
        fill: white;
      }
    }
  }
  > .subject-item-wrap {
    display: flex;
    padding: 0.7em;
    > span {
      font-size: 0.8em;
      flex: 1;
      text-align: center;
    }
  }
}

.all-done {
  width: 1em;
  height: 1em;
  fill: green;
}
