.contents-section {
  display: flex;
  flex-direction: column;
  nav {
    position: sticky;
    top: 0;
    background-color: #353942;
    display: flex;
    box-shadow: $boxShadow;
    flex: 1;
    .logo-wrap {
      background-color: #29c7ca;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 400px;
      gap: 0.6em;
      > h1 {
        font-size: 1.2em;
        font-weight: 400;
      }
      color: white;
      .nav-logo {
        width: 3em;
        height: 3em;
        fill: white;
      }
    }
  }
  main {
    display: flex;
    flex-direction: row;
    height: 90vh;
    .subject-list {
      overflow-y: auto;
      padding: 1em;
      width: 400px;
      font-size: 0.9em;
      color: $bgColor;
      background-color: #353942;
      .shortcut {
        width: 1.5em;
        height: 1.5em;
        fill: white;
      }
      .subject-wrap {
        transition: all 0.2s ease-in-out;
        padding: 0.5em;
        font-weight: 100;
        border-bottom: 1px solid #727b8e;
        border-radius: 2px;
        display: flex;
        align-items: center;
        .subject-item-wrap {
          margin-top: 0.5em;
          display: flex;
          flex-direction: row;
          padding: 0 1em;
          gap: 1em;
          > a,
          > span {
            flex: 1;
            padding: 0.1em 0.1em;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          > span {
            font-size: 0.8em;
            background-color: #727b8e;
            border-radius: $borderRadius;
          }
        }

        h2 {
          font-weight: 100;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &:hover {
          color: black;
          background-color: #727b8e;
        }
      }
    }
    > .contents {
      flex: 1;
    }
  }
}
