@import "../../fonts/font.css";
@import "../scss/libs/vars";
* {
  margin: 0;
  padding: 0;
  font-family: "NotoSans";
  color: $txtColor;
  box-sizing: border-box;
  font-size: 1em;
}

.view-wrap {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  > section {
    flex: 1;
  }
  > footer {
    color: $subTxtColor;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    flex-direction: column;
    font-size: 0.7em;
  }
}

.github-link {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.9em;
  > svg {
    width: 2.5em;
  }
}

.keep-login-info-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > p {
    margin: 0.3em;
  }
  > input {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
  }
}
